pyhocon # error insensitive json parser
pyyaml
pydantic # data model and validation in python
case-conversion
beartype # argument validation
quickfix # the fix protocol
esprima # for javascript parsing
isort # python imports sort
black # python reformatting
pytest
networkx
matplotlib
typedmodel